@model OrderModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
</head>
<body>
    @using (Html.BeginForm("Create", "Buying", FormMethod.Post))
    {
        <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
        <div class="form-group">
            <label asp-for="Id"></label>
            <div>@ViewData[nameof(OrderModel.Id)]</div>
            <span asp-validation-for="Id" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.FullName"></label>
            <div>@ViewData[nameof(OrderModel.User.FullName)]</div>
            <span asp-validation-for="User.FullName"></span>
        </div>
        <div class="form-group">
            <label asp-for="FareId">Available Fares: </label>
            <select asp-for="FareId" class="form-control">
                @foreach (FareModel fare in ViewData["NewFare"] as List<FareModel>)
                {
                    <option value="@fare.Id">@fare.Fare +" "+ @fare.Price.Price</option>
                }
            </select>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Checkout" class="btn btn-primary btn-lg" />
            </div>
        </div>
    }
<div>
    <a asp-action="PastOrders">View Past Orders</a>
</div>
</body>
</html>

<!--Plan: Display types of passes. Use rotary selectors and descriptions change dynamically-->
<!--
User's name
Option to add funds to account with field
Confirm Order button
    Pop up confirmation of order
    If no payment info is stored, then ask for payment info
    Order button
-->
