@model RoleLists
@{
    ViewData["Title"] = "Edit Roles";
}

<body>
    <h1>Update Roles</h1>
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("Edit", "Role", FormMethod.Post))
            {
                <input type="hidden" name="roleName" value="@Model.Role.Name" />
                <input type="hidden" name="roleId" value="@Model.Role.Id" />
                <h2>Add to @Model.Role.Name</h2>
                <br />
                <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
                <label asp-for="NonMembers"></label>
                @if (Model.NonMembers.Count() == 0)
                {
                    <div>All users are in @Model.Role.Name</div>
                }
                else
                {
                    @foreach (var user in Model.NonMembers)
                    {
                        <div class="row">
                            <div class="col form-group">@user.UserName</div>
                            <div class="col form-group">
                                <input type="checkbox" name="AddId" value="@user.Id" />
                            </div>
                        </div>
                    }
                }
                <br />
                <hr />
                <h2>Remove from @Model.Role.Name</h2>
                <br />
                <label asp-for="Members"></label>
                @if (Model.Members.Count() == 0)
                {
                    <div>No users are in @Model.Role.Name</div>
                }
                else
                {
                    @foreach (var user in Model.Members)
                    {
                        <div class="row">
                            <div class="col form-group">@user.UserName</div>
                            <div class="col form-group">
                                <input type="checkbox" name="RemoveId" value="@user.Id" />
                            </div>
                        </div>
                    }
                }
                <br />
                <div class="form-group">
                    <input type="submit" value="Save Role List" />
                    <p></p>
                    <a asp-action="Index">Back to Roles</a>
                </div>
            }
        </div>
    </div>
</body>